<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/aboutme/planetpowershell-featured-badge.png">
  </li>
  <li>
    Events list:
    <table>
      <tr>
        <th>
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/aboutme/m365.jpeg">
        </th>
        <th>
          <li>
            <a href="https://www.meetup.com/pl-PL/Microsoft-365-User-Group-Poland/events/270480941/">M365 User Group Poland</a>
          </li>
          <li>
            13.05.2020
          </li>
          <li>
            18:00 CEST
          </li>
        </th>
      </tr>
    </table>
  </li>