<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/aboutme/planetpowershell-featured-badge.png" height="67" width="161">
  </li>
  <li>
    Events list:
    <table>
      <tr>
        <th>
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/aboutme/pposh_trans.png" height="33" width="80">
        </th>
        <th>
          <li>
            <a href="https://www.meetup.com/pl-PL/Polish-PowerShell-Group-PPoSh/events/268652884/">PPoSh #21</a>
          </li>
          <li>
            21.04.2020
          </li>
          <li>
            18:00 CET
          </li>
        </th>
      </tr>
    </table>
  </li>